<div id="accordion">


    {{# each reservations}}
        {{#unless this.is_accepted}}
        <div class="card text-center">
            <div class="card-header">
                {{this.hallname}}&nbsp; &nbsp;&nbsp; &nbsp;
                {{this.Date}} &nbsp; &nbsp; {{this.timefrom}}am-{{this.timeto}}am
            </div>
            <div class="card-body">
                <table ">

                <tbody>
                <tr>

                    <td>{{this.reason}}&nbsp; &nbsp;&nbsp; &nbsp;</td>
                    <td>{{this.reserve_person}}&nbsp; &nbsp;&nbsp; &nbsp;</td>
                    <td>{{this.email}}&nbsp; &nbsp;&nbsp; &nbsp;</td>
                    <td><a href="/acceptReservation/{{this.id}}" class="btn btn-success">Accept</a>&nbsp; &nbsp;</td>
                    <td><a href="/RejectReservation/{{this.id}}" class="btn btn-danger">Reject</a></td>

                </tr>
                </tbody>
                </table>




            </div>
            <div class="card-footer text-muted">

            </div>
        {{/unless}}

    {{/each}}

</div>
