


<!--Add External Libraries - JQuery and jspdf
check out url - https://scotch.io/@nagasaiaytha/generate-pdf-from-html-using-jquery-and-jspdf
-->



    {{# each reservations}}
        {{#if this.is_accepted}}
            <div class="card" id="content">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapse{{this.id}}">
                        <b>{{this.hallname}}</b> &nbsp; &nbsp; {{this.Date}}&nbsp; &nbsp; {{this.timefrom}} - {{this.timeto}}

                    </a>
                </div>
                <div id="collapse{{this.id}}" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <b>reserve person</b>:  {{this.reserve_person}}
                        <b>permisioned by</b>: {{this.permissonedby}}
                        <b>reason</b>: {{this.reason}}
                        <b>reasorver email</b>: {{this.email}}


                    </div>
                </div>
            </div>
            <a href="/pdf/{{this.hallname}}/{{this.Date}}/{{this.timefrom}}/{{this.timeto}}/{{this.reserve_person}}/{{this.reason}}/{{this.permissonedby}}" id="cmd" class="btn btn-primary">Generate Report</a>
            <a href="/RejectReservation/{{this.id}}" class="btn btn-danger">Delete</a>

            <div id="editor"></div>

            <!--Add External Libraries - JQuery and jspdf
            check out url - https://scotch.io/@nagasaiaytha/generate-pdf-from-html-using-jquery-and-jspdf
            -->



        {{/if}}

    {{/each}}

</div>

