
<div id="accordion">


    {{# each reservations}}
        {{#if this.is_accepted}}
            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapse{{this.id}}">
                        <b>{{this.hallname}}</b> &nbsp; &nbsp; {{this.Date}}&nbsp; &nbsp; {{this.timefrom}} - {{this.timeto}}

                    </a>
                </div>
                <div id="collapse{{this.id}}" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <b>reserve person</b>:  {{this.reserve_person}} <br>
                        <b>reason</b>: {{this.reason}}<br>
                        <b>reasorver email</b>: {{this.email}}<br>

                        <a href="#" class="btn btn-primary">Generate Report</a>
                        <a href="/RejectReservation/{{this.id}}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
            {{/if}}

    {{/each}}

</div>